teachbooks == 0.2.3
sphinx-inline-tabs

git+https://github.com/TeachBooks/TeachBooks-Favourites #bump codex

teachbooks-sphinx-grasple

sphinx-apa-references

# For executing Jupyter Notebooks
myst_nb
numpy
matplotlib

sphinx-tudelft-theme == 1.2.1

git+https://github.com/TeachBooks/Sphinx-Gated-Directives